<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grgr.mapper.ProductBoardMapper">
	<!-- 게시판 등록 -->
	<insert id="insert">
		insert into PRODUCT_BOARD(
		PRODUCT_TITLE,
		PRODUCT_CONTENT, PRODUCT_PRICE, UNO)
		values (
		#{productTitle},
		#{productContent},
		#{productPrice}, #{uno})
	</insert>

	<!-- 게시판 목록 -->
	<select id="getList" resultType="com.grgr.dto.ProductBoardVO">
		select * from PRODUCT_BOARD
		order
		by PRODUCT_ID asc
	</select>

	<!-- 게시판 목록(페이징 적용) -->
	<!-- <select id="getListPaging" resultType="com.grgr.model.ProductBoardVO"> 
		<![CDATA[ select PRODUCTId, PRODUCTTITLE, PRODUCTCONTENT, UNO, COST, PRODUCTREGDATE, 
		PRODUCTUPDATE from( select rownum as rn, PRODUCTId, PRODUCTTITLE, PRODUCTCONTENT, 
		UNO, COST, PRODUCTREGDATE, PRODUCTUPDATE from PRODUCTBOARD where rownum <= 
		#{pageNum} * #{amount} ]]> <if test="keyword != null"> and PRODUCTTITLE like 
		'%'||#{keyword}||'%' </if> <![CDATA[ ) where rn > (#{pageNum} - 1) * #{amount} 
		]]> </select> -->

	<!-- 게시글 조회 -->
	<select id="getPage" resultType="com.grgr.dto.ProductBoardVO">
		select * from PRODUCT_BOARD
		where
		PRODUCT_ID = #{productId}
	</select>

	<!-- 게시글 수정 -->
	<update id="modify">
		update PRODUCT_BOARD set PRODUCT_TITLE =
		#{productTitle}, PRODUCT_CONTENT =
		#{productContent}, PRODUCT_PRICE =
		#{productPrice},
		PRODUCT_UPDATE =
		sysdate where PRODUCT_ID =
		#{productId}
	</update>

	<!-- 게시글 삭제 -->
	<delete id="delete">
		delete from PRODUCT_BOARD where PRODUCT_ID =
		#{productId}
	</delete>

	<!-- 게시물 총 갯수 -->
	<select id="getTotal" resultType="int">
		select count(*) from PRODUCT_BOARD
		<if test="keyword != null">
			where PRODUCT_TITLE like '%'||#{keyword}||'%'
		</if>
	</select>

	<!-- 조회수 올리기 -->
	<update id="updateViewCnt">
		update PRODUCT_BOARD set PRODUCT_VIEW_CNT =
		PRODUCT_VIEW_CNT + 1 where PRODUCT_ID = #{product_Id}
	</update>
</mapper>